<div  style="background-color:gray;" [ngStyle]="{'height': h}">
  <div class="float-left" style="padding:10%;height:100%;width:50%;background-color:#F0F0F0">
    <h1 style="font-family: 'Arial Rounded MT Bold'">Watershed Information</h1>
    <p style="font-family: 'Arial Rounded MT Bold'">
      Information about tree cover and land area cover for different regions are available. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac viverra libero. Quisque a diam condimentum, mollis arcu non, pellentesque enim. Nullam ante felis, interdum ut consequat sed, convallis ut nisl. Pellentesque condimentum at lectus sed fermentum. Phasellus aliquet consectetur urna quis auctor. Duis pellentesque et diam in luctus. Duis mattis velit id fermentum pellentesque. Proin nec fringilla velit, in porta sapien.
    </p>
    <button class="btn btn-info" [routerLink]="'regionData/jalaur'"> View </button>
  </div>
  <div class="float-right otherSide" style="height:100%;width:50%;"></div>
</div>